@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(220, 14.3%, 98%);
    --foreground: hsl(224, 71.4%, 4.1%);
    --card: hsl(0, 0%, 100%);
    --card-foreground: var(--foreground);
    --popover: var(--card);
    --popover-foreground: var(--foreground);
    --primary: hsl(46.43deg 99.21% 50.2%);
    --primary-foreground: hsl(303, 35%, 26%);
    --secondary: hsl(220, 14.3%, 95.9%);
    --secondary-foreground: hsl(220.9, 39.3%, 11%);
    --muted: var(--secondary);
    --muted-foreground: hsl(220, 8.9%, 46.1%);
    --accent: var(--secondary);
    --accent-foreground: var(--secondary-foreground);
    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: var(--primary-foreground);
    --border: hsl(220, 13%, 91%);
    --input: var(--border);
    --ring: var(--primary);
    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(217, 47%, 7.5%);
    --foreground: hsl(210, 20%, 98%);
    --card: hsl(217, 47%, 9%);
    --card-foreground: var(--foreground);
    --popover: var(--card);
    --popover-foreground: var(--foreground);
    /* --primary: hsl(303, 37%, 37%); */
    /* --primary-foreground: var(--background); */
    --secondary: hsl(215, 27.9%, 16.09%);
    --secondary-foreground: var(--foreground);
    --muted: var(--secondary);
    --muted-foreground: hsl(217.9, 10.6%, 64.9%);
    --accent: var(--secondary);
    --accent-foreground: var(--foreground);
    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: var(--foreground);
    --border: hsl(215, 27.9%, 17%);
    --input: var(--border);
    --ring: var(--primary);
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-size: 1.5em;
    overflow: hidden;
    height: 100vh;
  }
}

@layer components {
}
